{% extends "SmartAnnonceBundle::layout_categorie.html.twig" %}

{% block title %}SmartAnnonceBundle:Categorie:index{% endblock %}
{% block titre %}
<h1>Gestion Categorie:<span> Modifier Categorie </span></h1>
{% endblock %}
{% block page_body %}
             {% include "SmartAnnonceBundle:Categorie:form.html.twig" %}
{% endblock %}
