{% extends "::layout_admin.html.twig" %}

{% block title %}SmartAnnonceBundle:Categorie:index{% endblock %}

{% block body %}
{% block titre%}

{% endblock %}

 <div class="separ"></div>
            
{% block page_body %}

{% endblock %}
{% endblock %}
